html,
body {
    height: 100%;
}


#butterfly {
    height: 200px;
    width: auto;
    position: absolute;
}

#wateringcan {
    width: 200px;
    position: fixed;
    bottom: 20%;
    left: 40%;
}


.waterdrop {

    width: 20px;



}

#drops {
    position: absolute;
    margin-left: 40%;
    padding-top: 40%;

}

#net {
    height: 600px;
    width: auto;
    position: absolute;

}

.apple {
    height: 50px;
    width: auto;
    position: absolute;
}

#tree {
    position: fixed;
    bottom: 20px;
    left: 50%;

}

.basket {
    width: 200px;
    position: fixed;
    bottom: 20px;
    left: 20%;

}


body {
    margin: 0px;
    background-image: url("../images/grass.png");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: bottom;
    overflow: hidden;
}

.Rotate {
    -webkit-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
    -webkit-transition: transform 1.05s ease-in-out;
    -moz-transition: transform 1.05s ease-in-out;
    -ms-transition: transform 1.05s ease-in-out;
}

.Rotateback {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: transform 1.05s ease-in-out;
    -moz-transition: transform 1.05s ease-in-out;
    -ms-transition: transform 1.05s ease-in-out;
}

#apple1 {
    position: absolute;
    padding-top: 13%;
    margin-left: 66%;
}

#apple2 {
    position: absolute;
    padding-top: 20%;
    margin-left: 65%;
}

#apple3 {
    position: absolute;
    padding-top: 22%;
    margin-left: 60%;

}
